{% setcontent sponsors = 'companies' %}

<div class="sponsors">
    <div class="container">
        <section>
            <h1>{{ __("Our sponsors") }}</h1>
            {% for sponsor in sponsors %}
                <a class="sponsor" href="{{ sponsor.link }}" style="background-image: url('{{ image(sponsor.whitelogo) }}');">{{ sponsor.name }}</a>
            {% endfor %}
        </section>
    </div>
</div>
